<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        document.getElementById("login").innerHTML = "login";
        </script>
    <style>
html, body {
    margin: 0;
    height: 100%;
}
        div.image1 {
            background-image: url("static/greyelephant2.jpg");
            background-color: rgba(212, 212, 212, .2);
        }

        div.a {
            margin: auto;
            font-weight: bold;
            font-size: 125%
        }
        div.card {
            margin: 0 auto;
            width: 33%;
        }

    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
</head>
<body style="height: 100%;width: 100%">
{% include "base_template.html" %}
{% extends "bootstrap/base.html" %}
{% block content %}
<div class="image1" style="height: 100%">
    <div class="card container-fluid card-inverse">
        <div class="card-body">
            <div class="a">
                <p><strong class="text-center">We use machine learning to see
                what your interests are, and then find products on the web
                that fit those interests!</strong></p>

            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>

