<!DOCTYPE html>
<html lang="en">
<head>
    <style>
html, body {
    margin: 0;
    height: 100%;
}
        div.image1 {
            background-image: url("static/greyelephant2.jpg");
            background-color: rgba(212, 212, 212, .2);
        }

        div.a {
            margin: auto;
            font-weight: bold;
            font-size: 125%
        }
        div.card {
            margin: 0 auto;
            width: 33%;
        }

    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
</head>
<body style="height: 100%;width: 100%">
{% include "base_template.html" %}
{% extends "bootstrap/base.html" %}
{% block content %}
<div class="image1" style="height: 100%">
    <div class="card container-fluid card-inverse">
        <div class="card-body">
            <div class="a">
                <p><strong class="text-center"> Our machines use AI to do your gift shopping for you!</strong></p>
            </div>
            <div style="text-align:center;">
                <a href="{{url_for('recipient_info')}}"><button class="active btn-lg btn-success text-center"
                               onsubmit="{{url_for('recipient_info')}}">Get
                    Started</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>

</html>